<!-- Validation failure messages -->
<% if @drink.errors.any? %>
  <% @drink.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Drink</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_drink" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for alcohol_id -->
      <div class="form-group">
        <label for="alcohol_id" class="control-label">
          Alcohol
        </label>

        <%= select_tag(:alcohol_id, options_from_collection_for_select(Alcohol.all, :id, :name, @drink.alcohol_id), :class => "form-control") %>
      </div>

      <!-- Label and input for taste_id -->
      <div class="form-group">
        <label for="taste_id" class="control-label">
          Taste
        </label>

        <%= select_tag(:taste_id, options_from_collection_for_select(Taste.all, :id, :name, @drink.taste_id), :class => "form-control") %>
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @drink.price %>">
      </div>

      <!-- Label and input for origin -->
      <div class="form-group">
        <label for="origin" class="control-label">
          Origin
        </label>

        <input type="text" id="origin" name="origin" placeholder="Origin" class="form-control" value="<%= @drink.origin %>">
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="file" id="image_url" name="image_url" class="form-control">
      </div>

      <button class="btn btn-success">
        Create Drink
      </button>
      or
      <a href="/drinks">Cancel</a>
    </form>
  </div>
</div>
