<div class="page-header">
  <h3>Taste #<%= @taste.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @taste.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tastes" class="btn btn-primary">
        Back
      </a>
      <a href="/tastes/<%= @taste.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_taste/<%= @taste.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Taste has many drinks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Drinks
      </li>

      <% @taste.drinks.each do |drink| %>
        <li class="list-group-item">
          <a href="/drinks/<%= drink.id %>">
            <%= drink.id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/drinks/<%= drink.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/drinks/<%= drink.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_drink/<%= drink.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_drink" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for alcohol_id -->
      <div class="form-group">
        <label for="alcohol_id" class="control-label">
          Alcohol
        </label>

        <%= select_tag(:alcohol_id, options_from_collection_for_select(Alcohol.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for taste_id -->
      <input type="hidden" name="taste_id" value="<%= @taste.id %>">

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="">
      </div>

      <!-- Label and input for origin -->
      <div class="form-group">
        <label for="origin" class="control-label">
          Origin
        </label>

        <input type="text" id="origin" name="origin" placeholder="Origin" class="form-control" value="">
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="file" id="image_url" name="image_url" class="form-control">
      </div>

      <button class="btn btn-block btn-success">
        Create Drink
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Taste has many alcohols -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Alcohols
      </li>

      <% @taste.alcohols.each do |alcohol| %>
        <li class="list-group-item">
          <a href="/alcohols/<%= alcohol.id %>">
            <%= alcohol.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/alcohols/<%= alcohol.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/alcohols/<%= alcohol.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_alcohol/<%= alcohol.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
