<div class="page-header">
  <h3>Cigar #<%= @cigar.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Boldness</dt>
      <dd>
        <% if @cigar.profile.present? %>
          <a href="/boldnesses/<%= @cigar.boldness_id %>">
            <%= @cigar.profile.name %>
          </a>
        <% end %>
      </dd>

      <dt>Name</dt>
      <dd><%= @cigar.name %></dd>

      <dt>Price</dt>
      <dd><%= @cigar.price %></dd>

      <dt>Country</dt>
      <dd><%= @cigar.country %></dd>

      <dt>Size</dt>
      <dd><%= @cigar.size %></dd>

      <dt>Image url</dt>
      <dd><img src="<%= @cigar.image_url %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cigars" class="btn btn-primary">
        Back
      </a>
      <a href="/cigars/<%= @cigar.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cigar/<%= @cigar.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
