<div class="page-header">
  <h1>
    Pairings
    <a href="/pairings/new" class="btn btn-lg btn-success">New Pairing</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Cigar</th>
        <th>Bottle</th>
        <th>Actions</th>
      </tr>

      <% @pairings.each do |pairing| %>
      <tr>
        <td>
          <% if pairing.cigar.present? %>
            <a href="/cigars/<%= pairing.cigar.id %>">
              <%= pairing.cigar.created_at %>
            </a>
          <% end %>
        </td>
        <td>
          <% if pairing.bottle.present? %>
            <a href="/bottles/<%= pairing.bottle.id %>">
              <%= pairing.bottle.id %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/pairings/<%= pairing.id %>" class="btn btn-primary">Show</a>
          <a href="/pairings/<%= pairing.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_pairing/<%= pairing.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @pairings, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
