<div class="page-header">
  <h3>Pairing #<%= @pairing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Boldness</dt>
      <dd>
        <% if @pairing.boldness.present? %>
          <a href="/boldnesses/<%= @pairing.boldness_id %>">
            <%= @pairing.boldness.name %>
          </a>
        <% end %>
      </dd>

      <dt>Taste</dt>
      <dd>
        <% if @pairing.taste.present? %>
          <a href="/tastes/<%= @pairing.taste_id %>">
            <%= @pairing.taste.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/pairings" class="btn btn-primary">
        Back
      </a>
      <a href="/pairings/<%= @pairing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_pairing/<%= @pairing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
