<div class="page-header">
  <h3>Pairing #<%= @pairing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Cigar</dt>
      <dd>
        <% if @pairing.cigar.present? %>
          <a href="/cigars/<%= @pairing.cigar_id %>">
            <%= @pairing.cigar.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Bottle</dt>
      <dd>
        <% if @pairing.bottle.present? %>
          <a href="/bottles/<%= @pairing.bottle_id %>">
            <%= @pairing.bottle.id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/pairings" class="btn btn-primary">
        Back
      </a>
      <a href="/pairings/<%= @pairing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_pairing/<%= @pairing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
