<div class="page-header">
  <h3>Alcohol #<%= @alcohol.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/alcohols" class="btn btn-primary">
        Back
      </a>
      <a href="/alcohols/<%= @alcohol.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_alcohol/<%= @alcohol.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Alcohol has many bottles -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bottles
      </li>

      <% @alcohol.bottles.each do |bottle| %>
        <li class="list-group-item">
          <a href="/bottles/<%= bottle.id %>">
            <%= bottle.id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bottles/<%= bottle.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bottles/<%= bottle.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bottle/<%= bottle.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bottle" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for alcohol_id -->
      <input type="hidden" name="alcohol_id" value="<%= @alcohol.id %>">

      <button class="btn btn-block btn-success">
        Create Bottle
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
